<!DOCTYPE html>
<html>
  <head>
    <title>Booblie</title>
    <link rel="icon" href="../media/favicon-booblie.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/homepage.css">
  </head>
  <body>
    <div class="b-hero">
      <div class="b-hero-content">
        <h1>
          <span class="b-logo" role="presentation">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 106 28">
              <defs>
                <linearGradient id="linear-gradient" x1="2.1" y1="7.6" x2="2.1" y2="15.8" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#00ebfd"/>
                  <stop offset="1" stop-color="#0083ff"/>
                </linearGradient>
                <linearGradient id="linear-gradient1" x1="7.5" y1="0" x2="7.5" y2="11.7" xlink:href="#linear-gradient"/>
                <linearGradient id="linear-gradient2" x1="6.5" y1="28" x2="6.5" y2="11.7" xlink:href="#linear-gradient"/>
                <linearGradient id="linear-gradient3" x1="4.1" y1="11.7" x2="19.5" y2="11.7" xlink:href="#linear-gradient"/>
                <linearGradient id="linear-gradient4" x1="14.3" y1="1.5" x2="20.7" y2="7.9" xlink:href="#linear-gradient"/>
                <linearGradient id="linear-gradient5" x1="13.3" y1="15.1" x2="13.3" y2="28" xlink:href="#linear-gradient"/>
              </defs>
              <path d="M27.9,5.9h6.9c3.8,0,5.8,1.9,5.8,4.5s-1.3,3.4-3.1,3.8v.2c2,0,3.8,1.6,3.8,4.2s-2.1,4.8-6,4.8h-7.4V5.9ZM34.3,13.2c1.5,0,2.7-.9,2.7-2.3s-.9-2.1-2.6-2.1h-2.9v4.4h2.8ZM34.6,20.4c2.1,0,3-.9,3-2.2s-1.1-2.5-2.9-2.5h-3.2v4.7h3.1Z"/>
              <path d="M42,16.9c0-4.1,2.5-6.8,6.4-6.8s6.4,2.7,6.4,6.8-2.5,6.8-6.4,6.8-6.4-2.7-6.4-6.8ZM51.2,16.8c0-2.3-1-4-2.8-4s-2.8,1.7-2.8,4,.9,4,2.8,4,2.8-1.7,2.8-4Z"/>
              <path d="M55.5,16.9c0-4.1,2.5-6.8,6.4-6.8s6.4,2.7,6.4,6.8-2.5,6.8-6.4,6.8-6.4-2.7-6.4-6.8ZM64.7,16.8c0-2.3-1-4-2.8-4s-2.8,1.7-2.8,4,.9,4,2.8,4,2.8-1.7,2.8-4Z"/>
              <path d="M73.2,21.3h-.2v2.1h-3.5V5.9h3.5v6.6h.1c.5-1,1.5-2.4,3.7-2.4s5.3,2.3,5.3,6.7-2.3,6.8-5.3,6.8-3.2-1.3-3.7-2.3ZM78.6,16.8c0-2.3-1-3.9-2.8-3.9s-2.8,1.5-2.8,3.9,1,3.9,2.8,3.9,2.8-1.6,2.8-3.9Z"/>
              <path d="M87,23.4h-3.5V5.9h3.5v17.5Z"/>
              <path d="M88.6,6.7c0-1,.9-1.8,1.9-1.8s1.9.8,1.9,1.8-.9,1.8-1.9,1.8-1.9-.8-1.9-1.8ZM88.8,10.2h3.5v13.1h-3.5v-13.1Z"/>
              <path d="M93.6,16.9c0-4,2.5-6.8,6.3-6.8s6.2,2.2,6.2,6.6v1h-9c0,2.1,1.3,3.2,3,3.2s2.2-.5,2.5-1.5l3.2.6c-.6,2.2-2.7,3.6-5.8,3.6s-6.5-2.6-6.5-6.7ZM102.6,15.5c-.2-1.7-1.1-2.8-2.7-2.8s-2.7,1.2-2.8,2.8h5.6Z"/>
              <polygon fill="url(#linear-gradient)" points="0 15.8 4.1 11.7 0 7.6 0 15.8"/>
              <path fill="url(#linear-gradient1)" d="M0,0v7.6l4.1,4.1L15.1.7c-1.2-.5-2.7-.7-4.4-.7H0Z"/>
              <polygon fill="url(#linear-gradient2)" points="13.1 20.7 4.1 11.7 0 15.8 0 28 5.7 28 13.1 20.7"/>
              <path fill="url(#linear-gradient3)" d="M19.5,9.2l-6.4-6.4L4.1,11.7l8.9,8.9,5.6-5.6c-1.1-1-2.4-1.5-3.8-1.6v-.3c2.2-.5,3.9-1.8,4.6-4.1Z"/>
              <path fill="url(#linear-gradient4)" d="M19.5,9.2c.2-.6.3-1.2.3-1.9,0-3-1.6-5.4-4.7-6.5l-2,2,6.4,6.4Z"/>
              <path fill="url(#linear-gradient5)" d="M11.3,28c6.4,0,9.5-3.3,9.5-7.6s-.9-4.1-2.2-5.3l-12.9,12.9h5.6Z"/>
            </svg>
          </span>
          <span class="heading">Booblie</span>
        </h1>
        <p>
          Booblie é um livro de receitas sobre como interagir com componentes do
          Tangram e funcionalidades do Front-hub em testes automatizados.
        </p>
      </div>
    </div>
    {{ triven:posts }}
  </body>
</html>
