article p,
article .tn-footer {
  display: none;
}

.b-hero-content .heading {
  display: block;
  height: 0;
  text-indent: -9999px;
}

.b-recipe-suggestion-banner-wrapper {
  margin: 50px auto;
  max-width: 660px;
  padding: 0 30px;
}

.b-recipe-suggestion-banner {
  position: relative;
  padding: 20px 20px 20px 80px;
  background-color: #E5F2FF;
  color: #197FE6;
  font-size: .88888889rem;
  border-radius: 12px;
}

.b-recipe-suggestion-banner:before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 28px;
  content: '?';
  padding-top: 2px;
  height: 26px;
  width: 26px;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #197FE6;
  box-sizing: border-box;
  transform: translateY(-50%);
  opacity: .8;
}
